{{/* Display author list. Only truncate for LCA (too many authors), keep others full */}}
{{- $taxonomy := "authors" }}
{{- $isLCA := false }}
{{- if .File }}
  {{- if in .File.Path "large-scale-codec-avatars" }}{{- $isLCA = true }}{{- end }}
{{- end }}
{{- if in .Title "Large-scale Codec Avatars" }}{{- $isLCA = true }}{{- end }}
{{- if in (.Params.title | default "") "Large-scale Codec Avatars" }}{{- $isLCA = true }}{{- end }}

{{- if .Param $taxonomy }}
  {{- $terms := .GetTerms $taxonomy }}
  {{- $n := len $terms }}
  {{- if and $isLCA (gt $n 6) }}
    {{- /* LCA special: show first 3 + et al. */}}
    {{- range $i, $author := first 3 $terms }}
      {{- $highlight_name := .Page.Params.highlight_name | default false -}}
      {{- if gt $i 0 }}, {{ end -}}
      <span {{ if $highlight_name }}class="author-highlighted"{{end}}>
        {{- if .RelPermalink -}}<a href="{{.RelPermalink}}">{{.LinkTitle}}</a>{{- else -}}{{ .LinkTitle }}{{- end -}}
      </span>
    {{- end -}}
    <span>, et al.</span>
  {{- else if gt $n 0 }}
    {{- range $index, $value := $terms }}
      {{- $highlight_name := .Page.Params.highlight_name | default false -}}
      {{- if gt $index 0 }}, {{ end -}}
      <span {{ if $highlight_name }}class="author-highlighted"{{end}}>
        {{- if .RelPermalink -}}<a href="{{.RelPermalink}}">{{.LinkTitle}}</a>{{- else -}}{{ .LinkTitle }}{{- end -}}
      </span>
      {{- if isset $.Params "author_notes" -}}
        {{- with (index $.Params.author_notes $index) -}}<i class="author-notes fas fa-info-circle" data-toggle="tooltip" title="{{.}}"></i>{{- end -}}
      {{- end -}}
    {{- end -}}
  {{- else }}
    {{/* fallback to raw authors param when terms empty */}}
    {{- with .Params.authors }}
      {{- $n2 := len . }}
      {{- if and $isLCA (gt $n2 6) }}
        {{- range $i, $a := first 3 . }}{{ if gt $i 0 }}, {{ end }}<span>{{ $a | markdownify | plainify }}</span>{{ end }}<span>, et al.</span>
      {{- else }}
        {{- range $i, $a := . }}{{ if gt $i 0 }}, {{ end }}<span>{{ $a | markdownify | plainify }}</span>{{ end }}
      {{- end }}
    {{- end }}
  {{- end }}
{{- else if .Params.authors }}
  {{- $n2 := len .Params.authors }}
  {{- if and $isLCA (gt $n2 6) }}
    {{- range $i, $a := first 3 .Params.authors }}{{ if gt $i 0 }}, {{ end }}<span>{{ $a | markdownify | plainify }}</span>{{ end }}<span>, et al.</span>
  {{- else }}
    {{- range $i, $a := .Params.authors }}{{ if gt $i 0 }}, {{ end }}<span>{{ $a | markdownify | plainify }}</span>{{ end }}
  {{- end }}
{{- end }}
