{{- define "main" -}}
{{ if .Params.external_link }}
  <div class="universal-wrapper" style="padding-top:3rem;">
    <h1>{{ .Title }}</h1>
    <p>Redirecting to external project page... <a href="{{ .Params.external_link }}">{{ .Params.external_link }}</a></p>
    <meta http-equiv="refresh" content="0; url={{ .Params.external_link }}">
    <script>window.location.href="{{ .Params.external_link }}";</script>
  </div>
{{ else if .Params.nerfies }}
<script>
  window.MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']],
      displayMath: [['$$','$$'], ['\\[','\\]']],
      processEscapes: true
    },
    options: { skipHtmlTags: ['script','noscript','style','textarea','pre','code'] }
  };
</script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{{ .Content | safeHTML }}
{{ else }}
{{ $pub_types := partial "functions/get_pub_types" $ }}
{{ $pub_type_param := .Params.publication_types | default (slice 0) }}
{{ $pub_type := (int (index $pub_type_param 0)) | default 0 }}
{{ if gt $pub_type (sub (len $pub_types) 1) }}
  {{ warnf "Unknown publication type in %s" .Path }}
  {{ $pub_type = 0 }}
{{ end }}

<div class="pub">
  {{ partial "page_header.html" . }}

  <div class="article-container">
    {{ if .Params.abstract }}
    <h3>{{ i18n "abstract" }}</h3>
    <p class="pub-abstract">{{ .Params.abstract | markdownify }}</p>
    {{ end }}

    {{ if ne $pub_type 0 }}
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-12 col-md-3 pub-row-heading">{{ i18n "publication_type" }}</div>
          <div class="col-12 col-md-9">
            <a href="{{ (site.GetPage "section" "publication").RelPermalink }}#{{ $pub_type | anchorize }}">
              {{ index $pub_types $pub_type }}
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
    <div class="d-md-none space-below"></div>
    {{ end }}

    {{ if .Params.publication }}
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-12 col-md-3 pub-row-heading">{{ i18n "publication" }}</div>
          <div class="col-12 col-md-9">{{ .Params.publication | markdownify }}</div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
    <div class="d-md-none space-below"></div>
    {{ end }}

    <div class="space-below"></div>

    <div class="article-style">{{ .Content }}</div>

    {{ partial "page_footer" . }}

  </div>
</div>
{{ end }}
{{- end -}}
